
<div id="editContainer">



	<nav>
		<ul id="profileMenu">	
			<%= link_to 'Delete Account', user_path , method: :delete %>
			<%= link_to 'Cancel', users_path %>
		</ul>
	</nav>

<%= render 'form' %>
<br/>
<h1>/h1>

</div>



			