
<div id="editContainer">



	<nav>
		<ul id="profileMenu">	
			<%= link_to 'Delete Account', user_path(current_user), method: :delete %>
			<%= link_to 'Cancel', user_path(current_user) %>
		</ul>
	</nav>

<%= render 'form' %>

<h1>/h1>

</div>



			