	

		<%= form_for @post do |f| %>
		  
		
		  <%= f.text_field :title, :placeholder => 'title'%>
		  
		  
		  <div class="textarea"><%= f.text_area :body, :placeholder => 'body'%></div>


		  
		 <%= f.submit %>
		<% end %>

