<div class="postContainer">
<h1>New Post</h1>
<div class="postHeader">
	<nav>
		<ul id="signupMenu">	
			<%= link_to 'Cancel', posts_path %>
		</ul>
	</nav>

<div class ="postForm"><%= render 'form' %></div>
<br/>
</div>
</div>
